* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color:white;
}

.page{
  background-color: #252525;
  height: 100vh ;
  width: 100vw ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextBox{
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #6d6c6c;
  background-color:rgb(70, 70, 44);
}
.TextBox h3 a{
  color: #7159c1;
}

.container{
  background-color: rgb(0, 0, 0);
  padding: 24px;
  border: 4px dashed gray;
}

div li {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

div li + li {
  padding-top: 10px;
  
}

.AddBtnAlign{
  display: flex;
  justify-content: center;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
